<div class="show-grid">
    <h2>Show created grid</h2>
    <div class="grid-item" *ngFor="let grid of gridList">
        <h3>{{grid.gridName}}</h3>
        <div class="grid-container">
            <div *ngFor="let row of grid.grid">
                <div *ngFor="let cell of row" class="grid-cell" [ngClass]="cell.status" (click)="cellClicked(cell)">
                    {{cell.value}}</div>
            </div>
        </div>
        <div class="action-button">
            <button color="primary" (click)="editGrid()" mat-raised-button>
                <mat-icon class="mat-icon">{{ !editGridStatus ? 'edit' : 'close'}}</mat-icon>
                {{ !editGridStatus ? 'edit' : 'cancel'}}
            </button>
            <button color="primary" *ngIf="editGridStatus" (click)="updateGrid()" mat-raised-button>
                update
            </button>
            <button color="warn" *ngIf="!editGridStatus" (click)="deleteGrid()" mat-raised-button>
                <mat-icon class="mat-icon">delete</mat-icon>
                Delete
            </button>
        </div>
    </div>
</div>