@import "../../../assets/style/grid.scss";

.show-grid {
    padding: 24px;

    .grid-item {
        display: flex;
        flex-direction: column;

        .grid-container {
            padding-top: 5px;
        }
    }

    .action-button {
        width: 250px;
        display: flex;
        justify-content: space-between;

        button {
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;

            .mat-icon {
                font-size: 18px;
            }
        }
    }
}