<div class="create-grid">
    <h2>Create new grid</h2>
    <form [formGroup]="gridForm" class="row">
        <div class="row-element">
            <mat-label>Enter rows </mat-label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="rows">
            </mat-form-field>
        </div>
        <div class="row-element">
            <mat-label>Enter column </mat-label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="cols">
            </mat-form-field>
        </div>
    </form>

    <button color="primary" mat-raised-button>Basic</button>
</div>